<h1>The Team</h1>
<p>We are former Mnene Science students giving back to the school that did so much to improve our lives</p>
<p>The school that gave an opportunity to learn science subjects when it seems imposable to many</p>
<p>You can partner with us in this great cause;</p>
<%= link_to 'Contact Us', contact_path %>
