<div class="container-fluid">

    <h1>Welcome to Mnene Science Students Association</h1>
    <h2>Our Mission</h2>
    <p>Improve and encourage students to take up science studies</p>
    <p>Our role is to:</p>
    <ol>
      <li>Encourage more students to take up Science Subjects</li>
      <p>By motivating students though career guidance and cooperate intergration</p>
      <p>Paying school fees for the underpriveledged  students who excell in science subjects</p>
      <li>Improve the learning environment</li>
      <p>Improve lab equipment and introduce latest learning technologies</p>
    </ol>
    <button class = "btn btn-info" type="button" name="button"><%= link_to 'More Info', contact_path %></button>
</div>
